{% extends 'index.html' %}
{% block title %}My Form Page{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-top: 1rem;">My Form</h1>
<div class="container-fluid>">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <form method="POST" action="{% url 'submitmyform' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="mytext" style="font-family: 'Times New Roman', Times, serif;">E-mail Address</label>
                    <input type="text" id="mytext" name="mytext" class="form-control"
                        placeholder="youremail@example.com">
                </div>
                <br>
                <div class="form-group">
                    <label for="mytextarea" style="font-family: 'Times New Roman', Times, serif;" >Input any Text!!</label>
                    <textarea id="mytextarea" name="mytextarea" class="form-control" rows="3"></textarea>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" style="margin: 0 auto; display: block;"
                        class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}